@import"variables";

.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #7f7770;
    h3{
        color:$accent-Color;
        font-family: $font-Family;
        font-weight: bold;
        font-size: 25px;
    }
    
    p{
        color:$accent-Color;
        font-family: $font-Family; 
        font-size: 18px;
  
    }
  a{
   text-decoration: none;
   
      i{
          color:white;
          font-size: 20px;
        // width: 50px;
        // height: 30px;
     
      
      }
      i:hover{
        color:$primary-Color;
      }
      
  }
    ul{
        li{
            a{
                text-decoration: none;
                color: white;
            }
            a:hover{
                color: $primary-Color;
            }
        }
    }
}


@media(max-width:991px){
    .footer{
       
        h3{
           margin-top: 25px;
        }
        
    
    
   
}
}

@media(max-width:512px){
    .footer{
       padding-top: 80px;
       padding-bottom: 80px;
        p{
            
            font-size: 16px;
      
        }
   
}
}
