@import"variables";

.go{
    padding-top: 90px;
    padding-bottom: 90px;
    h1{
        color: #e2a355;
       font-family: $fonts-Family;
        font-size: 45px;
        font-weight: 800;
    }
    p{
        color: #7f7770;
       font-family: $font-Family;
        font-size: 20px;
        
    }
    .card{
        background-color:#7f7770;
        border:none;
        h5{
            color: $accent-Color;
            font-family: $fonts-Family;
            font-size: 25px;
            font-weight: 700;
        }
        p{
            color: $accent-Color;
            font-family: $font-Family;
            font-size: 19px;
             
        }
    }
    button{
        border: none;
        border-radius: 50px;
        background-color: #7f7770;
        color:$accent-Color;
        font-family: $fonts-Family;
        font-weight: 800;
        font-size: 18px;
        width: 250px;
        height: 60px;
        letter-spacing: 3px;
        outline: none;
    }
    button:hover{
        background-color: $primary-Color;
        color: #7f7770;
    }
}


@media(max-width:512px){
  
.go{
    h1{
        
        font-size: 40px;

    }
    p{
        
        font-size: 18px;
        
    }
    button{
       
        font-size: 16px;
        width: 200px;
        height: 50px;
        
    }
}
  
}