@import"variables";
.hiking{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #99928d;
   
    h1{
        color: $accent-Color;
        font-family: $fonts-Family;
        font-weight: 600;
        font-size: 50px;

    }
    p{
        color: $accent-Color;
        font-family: $font-Family;
        font-size: 23px;
    }
}

@media(max-width:768px){
    .hiking{
     
        h1{
            
            font-size: 40px;
    
        }
        p{
        
            font-size: 20px;
        }
    }
    
}
@media(max-width:512px){
    .hiking{
     
        h1{
            
            font-size: 30px;
    
        }
        p{
          
            font-size: 18px;
        }
    }
    
}
@media(max-width:380px){
    .hiking{
     
        h1{
            
            font-size: 25px;
    
        }
        p{
          
            font-size: 16px;
        }
    }
    
}